h3 開発したベンチマーク: ロジスティック写像

markdown:
  * **整数演算で負荷のかかる計算**として**素体のロジスティック写像**を用いた

img.image400 src="resources/images/logistic-map-eq.png"

img.image400 src="resources/images/logistic-map.png"

.small
	markdown:
		* 本手法で求めた値をグラフにプロットしても図のようにならない
		* 本手法はオリジナルの方法と幾何学的性質が異なるためである